.footer {
  width: 100%;
  height: 75px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background: white;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.socialIcons > *:last-child {
  margin-left: 25px;
}

