#mainNav {
  min-height: calc(100vh - 100px);
}


#sideBar.show {
  margin-left: 0px !important;
}

.sideBar {
  position: fixed;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 140px;
  transition: .5s;
}

/* @media (max-width: 600px) {
  .sideBar {
    margin-left: -140px;
  }
} */